body {
    background-color: blanchedalmond;
}

header {
    text-align: center;
}

nav {
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.nav {
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
    font-size: 20px;
    padding: 30px;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
}

footer {
    text-align: center;
    color: red;
    margin-top: 50px;
}
.container {
display: flex;
flex-direction: row;
margin: 20px;
}

.sidebar {
width: 20%;
background-color: #f2f2f2;
padding: 10px;
border-right: 1px solid #ccc;
}

.login-box, .my-pages, .iframe-video {
margin-bottom: 20px;
padding: 10px;
border: 1px solid #ccc;
}

.my-pages ul {
list-style: none;
padding: 0;
}

.my-pages li {
margin-bottom: 5px;
}

.main-content {
width: 60%;
padding: 10px 20px;
}

h1 {
text-align: center;
color: #333;
}

.right-sidebar {
width: 20%;
padding: 10px;
background-color: #f2f2f2;
border-left: 1px solid #ccc;
}

.photo-box, .news-box {
margin-bottom: 20px;
padding: 20px;
border: 1px solid #ccc;
text-align: center;
}
.pages{
    text-align: center;
    margin: 20px;
    padding: 20px;
}